<!DOCTYPE html>
<html>
  <head>
    <!--full_titleヘルパーメソッド-->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--各ページの内容部分をレイアウトに挿入されるためのものです-->
    <%= yield %>
  </body>
</html>
